<div class="lista container-flex scroll-x"
     ng-keyup="$ctrl.navigate($event)"
     tabindex="0"
     id="mv-monitor-container">
    <div class="fondo-comandas"></div>
    <div ng-repeat="comanda in $ctrl.comandas" class="container-comanda"
         id="comanda-{{$index}}"
         ng-class="{'comanda-selected': $ctrl.comandaSelected == $index }">
        <div class="container-comanda-header">
            <div class="destino-titulo-comanda"
                 ng-click="$ctrl.showCaja(comanda);">{{$ctrl.getOrigen(comanda.origen_id)}}
            </div>
            <div style="margin-left: 10px">{{$ctrl.getNroEnvio(comanda)}}</div>
            <div style="margin-left: 10px">{{comanda.fecha}}</div>
        </div>
        <div style="height: 10px"
             ng-class="{'comanda-status-0':comanda.status == 0, 'comanda-status-1': comanda.status == 1, 'comanda-status-2': comanda.status == 2}"></div>
        <div class="comanda-borde-status">
            <div class="container-comanda-body">
                <div ng-repeat="detalle in comanda.detalles"
                     ng-if="detalle.platoStatus != 0"
                     ng-class="{'comanda-status-2-detalle': detalle.platoStatus == 2,
                                'comanda-row-selected': $ctrl.activeDetalle == 'detalle-'+$parent.$index + '-' +$index}">
                    <div class="comanda-body-detalle">
                        <div style="width: 20px; margin-right: 10px; justify-content: flex-end">{{detalle.cantidad}}
                        </div>
                        <div style="justify-content: flex-start; width: 100%">{{detalle.nombre}}</div>
                        <div class="separador-acciones-comanda">
                            <button type="button" class="boton-confirmar-comanda"
                                    ng-click="$ctrl.confirmarElaboracion(detalle);" title="Confirmar Elaboración">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="boton-cancelar-comanda"
                                    ng-click="$ctrl.cancelarPlato(detalle.comanda_detalle_id);" title="Cancelar">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="comanda-observaciones" ng-if="detalle.comentarios.length > 0">
                        <div class="imagen-observaciones"></div>
                        <div style="margin-left: 10px">{{detalle.comentarios}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

