<div class="lista container-flex scroll-x">

    <div ng-repeat="comanda in $ctrl.comandas" class="container-comanda"
         ng-class="{'comanda-status-0':comanda.status == 0, 'comanda-status-1': comanda.status == 1, 'comanda-status-2': comanda.status == 2}">
        <div class="container-comanda-header">
            <div class="destino-titulo-comanda">{{$ctrl.getOrigen(comanda.origen_id)}}</div>
            <div>{{$ctrl.getNroEnvio(comanda)}}</div>
            <div>{{comanda.fecha}}</div>
        </div>
        <div class="comanda-borde-status">
            <div class="container-comanda-body">
                <div class="comanda-body-header">
                    <div>Producto</div>
                    <div>Cant</div>
                    <div>Acción</div>
                </div>
                <div ng-repeat="detalle in comanda.detalles" class="comanda-body-detalle"
                     ng-class="{'comanda-status-2': detalle.platoStatus == 2}">
                    <div style="justify-content: flex-start; width: 192px">{{detalle.nombre}}</div>
                    <div style="width: 20px; justify-content: flex-end">{{detalle.cantidad}}</div>
                    <div class="separador-acciones-comanda">
                        <button type="button" class="boton-confirmar-comanda"
                                ng-click="$ctrl.confirmarElaboracion(detalle);" title="Confirmar Elaboración">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="boton-cancelar-comanda"
                                ng-click="$ctrl.cancelarPlato(detalle.comanda_detalle_id);" title="Cancelar">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-comanda-footer">Observaciones</div>
        </div>
    </div>
</div>

